.App {
  text-align: center;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: #969595;
  overflow: hidden;
}
.tabbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  box-shadow: 1px 0 5px #dddddd;
  padding: 5px 0;
}
.tabbar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  font-size: 12px;
}
.tabbar-item svg {
  font-size: 30px;
}
.tabbar .tabbar-item.active svg {
  fill: #e640b2;
}

a {
  color: #000000;
  text-decoration: none;
}
a:visited {
  color: #000000;
}

a:active {
  background-color: #d8b7cb;
  opacity: 0.6;
}
